.splide__arrow{
    background-color: white;
  }

  /* linear-gradient(35deg, #494949, #313131); */

  .splide__arrow {
    border-radius: 0;
    height: 4em;
  }

  .splide__arrow--prev{
    /* left: 100px; */
  }

  .splide__pagination__page {
    background: gray;
    height: 12.5px;
    width: 12.5px;
    border: 2px white solid;
  }

  .splide__pagination__page.is-active {
    
      background: linear-gradient(to right, #f27121, #e94057);
  }
  
  
  